*{
    margin: 0;
    padding: 0;
}

.menu{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: #FFF;
    border-right: none;
    border-left: none;
}
i{
    float: left;
    margin-left: 10px;
    font-size: xx-large;
    
}
.menu i:first-child{
    margin-left: 0;
}
.menu i:nth-child(2){
    margin-left: 10px;
}
.menu i:last-child{
    float: right;
}

body .container{
    width: 100%;
    height: 100%;
   
}
.dark{
    background-color: black;
    color: #FFF;
}
.container .item{
   
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: lighter ;
   
    
}
.gold{
    text-shadow: 1px 0 gold,0 1px gold ,-1px 0 gold,0 1px gold;
   
}
.bold{
    font-weight: 900 !important;
}

sub{
    font-size: 12px;
}
img{
    max-width: 30%;
    height: 50px;
}


@media only screen and (width:300px) {
    /* For mobile phones: */
    .container .item{
        font-size: 30px;
        
    }
   
}
@media only screen and (width:350px) {
    /* For mobile phones: */
    .container .item{
        font-size: 35px;
        
    }
   
}

@media only screen and (width:400px) {
    /* For mobile phones: */
    .container .item{
        font-size: 40px;
        
    }
   
}

@media only screen and (width:500px) {
    /* For mobile phones: */
    .container .item{
        font-size: 50px;
        
    }
   
}
@media only screen and (width:600px) {
    /* For mobile phones: */
    .container .item{
        font-size: 60px;
        
    }
   
}
@media only screen and (width:700px) {
    /* For mobile phones: */
    .container .item{
        font-size: 70px;
        
    }
   
}
@media only screen and (min-width:768px) {
    /* For mobile phones: */
    .container .item{
        font-size: 80px;
        
    }
   
}



